<div class="ChildComp">
    <h4 class="p-6">Top 5 Cross Currency Sweeps</h4>
    <table class="table">
        <thead>
          <tr>
            <th>Structure</th>
            <th>Sweep Out</th>
            <th>Sweep In</th>
            <th>Exchange Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Global Sweep Structure</td>
            <td>439.25</td>
            <td>16,205.25</td>
            <td>1.85</td>
          </tr>
          <tr>
            <td>USA Sweep Structure</td>
            <td>899.25</td>
            <td>605.25</td>
            <td>9.5</td>
          </tr>
          <tr>
            <td>Global Sweep Structure</td>
            <td>789.25</td>
            <td>12,205.25</td>
            <td>7.85</td>
          </tr>
          <tr>
            <td>India Sweep Structure</td>
            <td>43.25</td>
            <td>24,205.25</td>
            <td>9.52</td>
          </tr>
        </tbody>
      </table>
    </div>