<div class="row p-20">
    <div class="col-md-8">
        <app-position-by-region></app-position-by-region>
    </div>
    <div class="col-md-4">
        <app-position-by-currency></app-position-by-currency>
    </div>
</div>
<div class="row p-20">
    <div class="col-md-4">
        <app-assets-and-liabilities></app-assets-and-liabilities>
    </div>
    <div class="col-md-4">
        <app-cross-currency-sweeps></app-cross-currency-sweeps>
    </div>
    <div class="col-md-4">
        <app-sweeps-in-gbp></app-sweeps-in-gbp>
    </div>
</div>
<div class="row p-20">
    <div class="col-md-6">
        <app-sweep-monitor></app-sweep-monitor>
    </div>
    <div class="col-md-4">
        <app-notifications></app-notifications>
    </div>
    <div class="col-md-2">
        <app-quick-links></app-quick-links>
    </div>
</div>
<div class="row center">
    <span>Copy rights @ 2006.2017. Oracle. All rights Reserved</span>
</div>