<div class="ChildComp">
<h4 class="p-6">Position by Currency</h4>
<table class="table">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>GBP</td>
        <td>439.25</td>
      </tr>
      <tr>
        <td>USD</td>
        <td>79855.25</td>
      </tr>
      <tr>
        <td>INR</td>
        <td>6985.5</td>
      </tr>
      <tr>
        <td>AUD</td>
        <td>245.5</td>
      </tr>
    </tbody>
  </table>
</div>