<div class="ChildComp">
    <h4 class="p-6">Notifications</h4>
    <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02 Apr 2014</td>
            <td>Structure Leo_USA_002 is not active</td>
          </tr>
          <tr>
            <td>24 Mar 2019</td>
            <td>Balance for Account 6898987954 not available for Structure Leo_UK_001</td>
          </tr>
        </tbody>
      </table>
    </div>