<div class="row ChildComp mt-10">
    <h4 class="p-6">Position by Currency</h4>
    <div class="col-md-8">
        <div #mapContainer id="map"></div>
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
              <tr>
                <th>In Equivalent</th>
                <th>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1" selected>USD</option>
                        <option value="2">INR</option>
                        <option value="3">GBP</option>
                        <option value="3">AUD</option>
                      </select>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>United Kingdom</td>
                <td>439.25</td>
              </tr>
              <tr>
                <td>United States</td>
                <td>7855.25</td>
              </tr>
              <tr>
                <td>India</td>
                <td>8585.5</td>
              </tr>
              <tr>
                <td>Australia</td>
                <td>80245.5</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>