<div class="ChildComp">
    <div class="row">
         <div class="col-md-4">
            <h4 class="p-6">
                Sweep Monitor
            </h4>
         </div>
         <div class="col-md-8 mt-15">
            <span class="fixedLabel activeLable">Upcoming</span>
            <span class="fixedLabel">Executed</span>
            <span class="fixedLabel">Exception</span>
         </div>
    </div>
   
    <table class="table">
        <thead>
          <tr>
            <th>Date & Time</th>
            <th>Instruction Description</th>
            <th>Sweep Out Account</th>
            <th>Sweep Out Amount</th>
            <th>Exchange Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02 Apr 6:45AM</td>
            <td>Range Based Model</td>
            <td>xxxxxxxxx3751</td>
            <td>1254.85</td>
            <td>1</td>
          </tr>
          <tr>
            <td>24 Mar 9:30AM</td>
            <td>Range Based Model</td>
            <td>xxxxxxxxx3751</td>
            <td>1254.85</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>