.ChildComp{
    box-shadow: 1px 2px 8px 0px #888888;
}
.p-6{
    padding: 6px;
}
.activeLable{
    background:#6c6cdd ;
}
.fixedLabel{
    
    padding: 11px;
    border: 1px solid;
    color: #060505;
}
.mt-15{
    margin-top: 15px;
}